/* this is a comment! */


/* CSS Syntax
  selector {
  property: value;
  property: value;

}


*/

/* type selector

p { all p elemenst }

*/

p {
  font-size: 1em; /* 16px, ?pt (can be different on differnt browsers), 100%, 1em */
  line-height: 1.5em;
}

figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 2em;
  font-family: monospace;, "New Times Roman", serif;
}
