/* this is a comment! */


/* CSS Syntax
  selector {
  property: value;
  property: value;

}


*/

/* type selector

p { all p elemenst }

*/

p {
  font-size: 30px; /* 16px, ?pt (can be different on differnt browsers), 100%, 1em */
}
